body,
html {
  /* background: linear-gradient(to right, #fff4f4, #eceeff); */
  height: min-content;
}
body {
  max-width: 700px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  /* background-color: rgb(255, 174, 174); */
}
.head_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head_top img {
  width: 35px;
}
.todo_content {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 0 60px 0;
}
.todo_input {
  position: fixed;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  width: calc(100% - 40px);
  /* width: 100%; */
  gap: 15px;
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
  /* background: linear-gradient(to right, #fff4f4, #eceeff); */
  background-color: white;
  bottom: 0;
  height: 80px;
}
.todo_input input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}
.todo_input button {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  height: 47px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}
.todo_the_todo.done {
  background-color: rgb(68, 108, 219);
}
.todo_the_todo.done p {
  text-decoration: line-through;
}
.todo_the_todo {
  color: white;
  margin-bottom: 10px;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(43, 148, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo_the_todo .left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.todo_the_todo span,
.todo_the_todo p {
  cursor: pointer;
}
.todo_the_todo .delete_btn {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  /* background-color: rgb(255, 207, 207); */
}
